<table style="width:100%; height:100%">
  <tr style="width: 100%; height:100%">
    <td style="height:100%">
      <div id="map"></div>
    </td>
    <td style="width: 100%; height:100%">
      <div class="dataContainer">
        <span class="bold">Description: </span>
        {{ title }}
      </div>
      <div class="dataContainer">
        <span style="font-weight: bold">Feature Data: </span>
        <div *ngFor="let feature of features">
          <div class="dataObject">
            <div class="bold">
              ID:
              <span class="normal">{{ feature.id }}</span>
            </div>
            <div class="bold">
              Geometry Type:
              <span class="normal">{{ feature.geometry.type }}</span>
            </div>
            <div class="bold">
              Coordinates:
              <span class="normal"
                >[{{ feature.geometry.coordinates[0] }},
                {{ feature.geometry.coordinates[1] }}]</span
              >
            </div>
            <div class="bold">
              Feature Type:
              <span class="normal">{{ feature.type }}</span>
            </div>
            <div class="bold">
              Wikipedia:
              <span class="normal">{{ feature.properties.wikipedia }}</span>
            </div>
            <div class="bold">
              City:
              <span class="normal">{{ feature.properties.city }}</span>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
